.tooltip-container {
    display: inline-block;
    position: relative;
  }
  
  .tooltip {
    position: absolute;
    bottom: -140%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Tooltip doesn't block interaction */
  }
  
  .tooltip-container:hover .tooltip {
    opacity: 1;
  }
  