/* src/ShoppingCartDropdown.module.css */

.shopping-cart-dropdown {
    position: relative;
    display: inline-block;
}

.cart-button {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #e0e0e0;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
}

.dropdown>p {
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 10px;
}


.dropdown>button {
    background-color: black;
    color: white;
    height: 35px;
    width: 100%;
    margin-top: 5px;
    padding: 5px 30px;
}

.dropdown>button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cart-item {
    display: flex;
    align-items: start;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

.cart-item:last-child {
    border-bottom: none;
}

.item-image {
    width: 100px;
    height: 100px;
    margin-left: -20px;
    margin-right: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.item-style {
    font-size: 13px;
    margin: 5px 0px 5px 0;
}

.style-number {
    color: #555;
    font-weight: normal;
}

.orig-price {
    font-size: 13px;
    color: #888;
    text-decoration: line-through;
}

.original-price {
    color: #d9534f;
    font-weight: bold;
}


.cart-empty {
    padding: 20px;
    text-align: center;
    margin-left: -40px;
}